body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-top: 8px;
}

.barre {
    background-color: #333333;
    text-align: center;
    height: 35px;
}

.barre ul li{
    display: inline;
    margin: 32px;
}

a {
    text-decoration: none;
    color: #d6d6d6;
    font-size: 12px;
    font-family: sans-serif;
}

